.equipment {
  border-radius: 100px;
  background-color: var(--clr-badges);
  padding-block: 0.75em;
  padding-inline: 1.12em;

  display: flex;
  align-items: center;
  gap: 0.19em;
}

.name {
  font-weight: var(--fw-medium);
}

.type {
  text-transform: capitalize;
}
