@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter28pt-Regular.woff2") format("woff2"),
    url("/fonts/Inter28pt-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter28pt-SemiBold.woff2") format("woff2"),
    url("/fonts/Inter28pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter28pt-Medium.woff2") format("woff2"),
    url("/fonts/Inter28pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

ul,
ol {
  list-style-type: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --clr-main: #101828;
  --clr-text: #475467;
  --clr-white: #fff;
  --clr-inputs: #f7f7f7;
  --clr-badges: #f2f4f7;
  --clr-gray: #6c717b;
  --clr-gray-light: #dadde1;
  --clr-button: #e44848;
  --clr-button-hover: #d84343;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 600;

  --fs-regular: 1rem;
  --fs-medium: 1.25rem;
  --fs-large: 1.5rem;
}

body {
  background-color: var(--clr-white);
  font-family: "Inter", sans-serif;
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  color: var(--clr-main);
}
