.list {
  display: flex;
  gap: 3em;
}

.item {
  border-radius: 10px;
  inline-size: 18.25rem;
  block-size: 19.5rem;
  overflow: hidden;
}

.image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}
